{% extends 'public/layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
   <!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="{{ asset('images/img1.png') }}" alt="#"/>
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2>{{ homepage.title }}</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>{{ homepage.body }}</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">En lire plus ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span class="theme_color"></span>Services</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{{ asset('images/img1.png') }}" alt="#"/>
                        <h4>Safe and Secure</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{{ asset('images/s2.png') }}" alt="#"/>
                        <h4>Mobile Apps</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{{ asset('images/s3.png') }}" alt="#"/>
                        <h4>Wallet</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{{ asset('images/s4.png') }}" alt="#"/>
                        <h4>Experts Support</h4>
                    </div>
                </div>
            </div>
            <div class="row margin-top_30">
                <div class="col-sm-12">
                    <div class="full">
                        <div class="center">
                            <a class="main_bt" href="#">En lire plus ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

    <!-- section -->
    <div class="section layout_padding ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2>{{ homepage.titleAbout }}</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>{{ homepage.textAbout }}</p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">En lire plus ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="{{ asset('images/img3.png') }}" alt="#"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
{% endblock %}
