{% extends 'admin/layout.html.twig' %}

{% block title %}Demandes de contact{% endblock %}

{% block body %}
    <h1>Demandes de contact</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Objet</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.created|date('d/m/Y') }}</td>
                <td>{{ contact.Nom }}</td>
                <td>{{ contact.Email }}</td>
                <td>{{ contact.Objet }}</td>
                <td>{{ contact.Message }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
